<!DOCTYPE html>
<html>
<head>
  <title>Zulip remind bot</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "zulip_remind_bot/application", media: "all" %>
  <%= javascript_include_tag "zulip_remind_bot/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
